---
import type { Bandori } from "@hina-is/bestdori/data";
import { unwrap } from "@hina-is/bestdori/utilities";

import { colord } from "colord";

import { IMAGE_FORMAT } from "~/lib/compressor/constants";

interface Props {
	character: Bandori.Character & { id: number };
	displayBand: boolean;
	tooltip?: "auto" | "top" | "bottom";
}

const { character, displayBand, tooltip = "auto" } = Astro.props;

const name = unwrap(character.nickname) ?? unwrap(character.name);
const band = unwrap(character.band.name);
const color = colord(character.colorCode);
---

<div
	class:list={[
		"tooltip group",
		tooltip === "auto" && "even:tooltip-bottom",
		tooltip === "top" && "tooltip-top",
		tooltip === "bottom" && "tooltip-bottom",
	]}
>
	<div
		class:list={[
			"tooltip-content",
			color.brightness() < 0.67 ? "text-white" : "text-black",
		]}
		style={`--tt-bg: ${color.toHex()}`}
	>
		{
			displayBand ? (
				<div class="inline-flex items-center gap-1 group-even:flex-row-reverse">
					<div>
						{name} <br />
						<span class="font-medium">{band}</span>
					</div>

					<img
						src={`/assets/band/${character.band.id}.svg`}
						alt={`${band} icon`}
						loading="lazy"
						class="size-8"
					/>
				</div>
			) : (
				name
			)
		}
	</div>
	<img
		src={`/assets/character/${character.id}.${IMAGE_FORMAT}`}
		alt={`${name} icon`}
		loading="lazy"
		class="size-10"
	/>
</div>
