---
import { bands, type events } from "@hina-is/bestdori/data";
import { unwrap } from "@hina-is/bestdori/utilities";

import { colord } from "colord";

import { IMAGE_FORMAT } from "~/lib/constants";
import EventCardTime from "./_event-card-time.astro";

type MapValue<T> = T extends Map<any, infer V> ? V : never;

interface Props {
	event: MapValue<typeof events> & { id: number };
	active?: boolean;
}

const { event, active } = Astro.props;

const eventBand = event.characters
	.slice(1)
	.every(({ band }) => band.id === event.characters[0].band.id)
	? { type: "one" as const, data: event.characters[0].band }
	: {
			type: "multiple" as const,
			data: [...new Set(event.characters.map(({ band }) => band.id))].map(
				(id) => ({ id, ...bands.get(id)! }),
			),
		};
---

<div class="card bg-base-100 w-96 shadow-sm">
	<figure>
		<img
			src={`/assets/event/${event.id}_banner.${IMAGE_FORMAT}`}
			alt={`${unwrap(event.name)} banner`}
			loading="lazy"
			class="aspect-3/1 h-32"
		/>
	</figure>
	<div class="card-body items-center text-center">
		<h2 class="card-title flex-1">
			{unwrap(event.name)}
		</h2>

		<EventCardTime
			startAt={event.startAt.jp}
			endAt={event.endAt.jp}
			label="jp"
		/>

		<EventCardTime
			startAt={event.startAt.en!}
			endAt={event.endAt.en!}
			label={active ? "en" : "en?"}
		/>

		<div class="flex flex-wrap justify-center gap-1">
			<div class="badge font-medium">
				<div class="tooltip" data-tip={event.attribute.name.toUpperCase()}>
					<img
						src={`/assets/attribute/${event.attribute.name}.svg`}
						alt=`${event.attribute.name.toUpperCase()} icon`
						class="size-5"
					/>
				</div>

				{event.type}
			</div>

			<div
				class:list={[
					"badge font-medium",
					eventBand.type === "one" &&
					colord(eventBand.data.color!).brightness() < 0.67
						? "text-white"
						: "text-black",
				]}
				style={eventBand.type === "one" &&
					`--badge-bg: ${eventBand.data.color!}`}
			>
				{
					eventBand.type === "multiple" &&
						eventBand.data
							.map(({ color, ...band }) => ({ ...band, color: colord(color!) }))
							.map(({ id, name, color }, idx) => (
								<div
									class:list={[
										"tooltip",
										idx % 2 && "tooltip-bottom",
										color.brightness() < 0.67
											? "before:text-white"
											: "before:text-black",
									]}
									data-tip={unwrap(name)}
									style={`--tt-bg: ${color.toHex()}`}
								>
									<img
										src={`/assets/band/${id}.svg`}
										alt={`${unwrap(name)} icon`}
										class="size-5"
									/>
								</div>
							))
				}

				{
					eventBand.type === "one" && (
						<>
							<img
								src={`/assets/band/${eventBand.data.id}.svg`}
								alt={`${unwrap(eventBand.data.name)} icon`}
								class="size-5"
							/>

							{unwrap(eventBand.data.name)}
						</>
					)
				}
			</div>
		</div>

		<div class="flex flex-wrap justify-center gap-1">
			{
				event.characters
					.map(({ id, nickname, name, band, colorCode }) => ({
						id,
						name: unwrap(nickname) ?? unwrap(name),
						band: unwrap(band.name),
						color: colord(colorCode),
					}))
					.map(({ id, name, band, color }, idx) => (
						<div
							class:list={[
								"tooltip",
								idx % 2 && "tooltip-bottom",
								color.isDark() ? "before:text-white" : "before:text-black",
							]}
							data-tip={
								eventBand.type === "multiple" ? `${name} / ${band}` : name
							}
							style={`--tt-bg: ${color.toHex()}`}
						>
							<img
								src={`/assets/character/${id}.${IMAGE_FORMAT}`}
								alt={`${name} icon`}
								class="size-10"
							/>
						</div>
					))
			}
		</div>
	</div>
</div>
