---
import { events } from "@hina-is/bestdori/data";
import { unwrap } from "@hina-is/bestdori/utilities";

import BaseLayout from "~/layouts/base-layout.astro";
import { IMAGE_FORMAT } from "~/lib/constants";
import { dayjs } from "~/lib/date";
import { paginate } from "~/lib/paginate";
import EventCard from "./_event-card.astro";

const event = (() => {
	let current = -1;
	let upcoming = [] as number[];

	const now = dayjs();
	let lastEndAt: dayjs.Dayjs;
	for (const [id, { startAt, endAt }] of [...events.entries()]) {
		if (!startAt.en || !endAt.en) {
			upcoming.push(id);
			continue;
		} else if (
			now.isBefore(startAt.en) ||
			now.isBetween(startAt.en, endAt.en)
		) {
			current = id;
		}

		lastEndAt = dayjs(endAt.en);
	}

	return {
		current: current === -1 ? null : { id: current, ...events.get(current)! },
		upcoming: upcoming.map((id) => {
			const { startAt, endAt, ...event } = events.get(id)!;

			const eventDuration = dayjs(endAt.jp).diff(startAt.jp);
			const startAtEn = lastEndAt.startOf("hours").add(43, "hours");
			const endAtEn = startAtEn.add(eventDuration);
			lastEndAt = endAtEn;

			return {
				id,
				startAt: { ...startAt, en: startAtEn.toDate() },
				endAt: { ...endAt, en: endAtEn.toDate() },
				...event,
			};
		}),
	};
})();

const upcomingEvents = paginate({
	items: event.upcoming,
	context: Astro,
	size: 6,
	extraProps: { "hx-select": "#upcoming-events > *", "hx-swap": "afterend" },
});
---

<BaseLayout
	background={event.current
		? {
				src: `/assets/event/${event.current.id}_background.${IMAGE_FORMAT}`,
				alt: `${unwrap(event.current.name)} background`,
			}
		: undefined}
>
	<div class="flex flex-col gap-8">
		<div class="flex flex-col items-center gap-4">
			<h2 class:list={["text-xl font-medium", event.current && "text-white"]}>
				Active event
			</h2>

			{
				event.current ? (
					<EventCard event={event.current} active />
				) : (
					<p class="text-base-content/50">No active event at the moment.</p>
				)
			}
		</div>

		<div class="flex flex-col items-center gap-4">
			<h2 class:list={["text-xl font-medium", event.current && "text-white"]}>
				Upcoming events
			</h2>

			<div
				id="upcoming-events"
				hx-indicator="#upcoming-events-loader"
				class="flex flex-wrap justify-center gap-2"
			>
				{
					upcomingEvents.items.map((event, idx) => (
						<EventCard
							{...(upcomingEvents.isLastElement(idx) && upcomingEvents.props)}
							{event}
						/>
					))
				}
			</div>

			<div
				id="upcoming-events-loader"
				class="htmx-indicator mt-8 flex flex-col items-center"
			>
				<iconify-icon
					icon="svg-spinners:90-ring-with-bg"
					width="none"
					class="size-32"></iconify-icon>

				<span class="text-lg font-medium">loading more events...</span>
			</div>
		</div>
	</div>
</BaseLayout>
