---
import { events } from "@hina-is/bestdori/data";
import { unwrap } from "@hina-is/bestdori/utilities";

import z from "zod";

import BaseLayout from "~/layouts/base-layout.astro";
import { IMAGE_FORMAT } from "~/lib/compressor/constants";
import { dayjs } from "~/lib/date";
import { paginate } from "~/lib/paginate";
import EventCard from "./_event-card.astro";

const showPastEvents = z
	.stringbool()
	.catch(false)
	.parse(Astro.url.searchParams.get("past"));

const event = (() => {
	const active = [] as number[];
	const past = [] as number[];
	const upcoming = [] as number[];

	const now = dayjs();
	let lastEndAt: dayjs.Dayjs;
	for (const [id, { startAt, endAt }] of [...events.entries()]) {
		if (!startAt.en || !endAt.en) {
			upcoming.push(id);
			continue;
		} else if (
			now.isBefore(startAt.en) ||
			now.isBetween(startAt.en, endAt.en)
		) {
			active.push(id);
		} else {
			past.push(id);
		}

		lastEndAt = dayjs(endAt.en);
	}

	return {
		active: active.map((id) => ({ id, ...events.get(id)! })),
		past: past.reverse().map((id) => ({ id, ...events.get(id)! })),
		upcoming: upcoming.map((id) => {
			const { startAt, endAt, ...event } = events.get(id)!;

			const eventDuration = dayjs(endAt.jp).diff(startAt.jp);
			const startAtEn = lastEndAt.startOf("hours").add(43, "hours");
			const endAtEn = startAtEn.add(eventDuration);
			lastEndAt = endAtEn;

			return {
				id,
				startAt: { ...startAt, en: startAtEn.toDate() },
				endAt: { ...endAt, en: endAtEn.toDate() },
				...event,
			};
		}),
	};
})();

const page = paginate({
	items: showPastEvents ? event.past : event.upcoming,
	context: Astro,
	size: 6,
	extraProps: {
		"hx-select": "#events > *",
		"hx-swap": "afterend",
		"hx-vals": JSON.stringify({ past: showPastEvents }),
	},
});
---

<BaseLayout
	background={event.active.length > 0
		? {
				src: `/assets/event/${event.active[0].id}_background.${IMAGE_FORMAT}`,
				alt: `${unwrap(event.active[0].name)} background`,
			}
		: undefined}
>
	<div class="flex flex-col gap-8">
		<div class="flex flex-col items-center gap-4">
			<h2 class="badge badge-accent badge-xl w-48 font-medium">
				Active events
			</h2>

			<div id="active-events" class="flex flex-wrap justify-center gap-2">
				{
					event.active.length > 0 ? (
						event.active.map((event) => <EventCard {event} predicted={false} />)
					) : (
						<p class="text-base-content/50">No active event at the moment.</p>
					)
				}
			</div>
		</div>

		<div class="flex flex-col items-center gap-4">
			<div id="events-heading" class="inline-flex gap-2">
				<h2 class="badge badge-accent badge-xl w-48 font-medium">
					{showPastEvents ? "Past" : "Upcoming"} events
				</h2>

				<div
					class="tooltip tooltip-left"
					data-tip={`Show ${showPastEvents ? "upcoming" : "past"} events`}
				>
					<button
						class="btn btn-sm btn-circle"
						hx-get
						hx-indicator="this"
						hx-vals={JSON.stringify({ past: !showPastEvents })}
						hx-select-oob="#events-heading, #events"
						hx-swap="none transition:true"
					>
						<iconify-icon
							icon={showPastEvents ? "lucide:calendar-clock" : "lucide:history"}
							width="none"
							class="htmx-indicator-replace size-4"></iconify-icon>
						<iconify-icon
							icon="svg-spinners:90-ring-with-bg"
							width="none"
							class="htmx-indicator size-4"></iconify-icon>
					</button>
				</div>
			</div>

			<div
				id="events"
				hx-indicator="#events-loader"
				class="flex flex-wrap justify-center gap-2"
			>
				{
					page.items.map((event, idx) => (
						<EventCard
							{...(page.isLastElement(idx) && page.props)}
							{event}
							predicted={!showPastEvents}
						/>
					))
				}
			</div>

			<div id="events-loader" class="htmx-indicator relative mt-8 h-32 w-full">
				<iconify-icon
					icon="svg-spinners:90-ring-with-bg"
					width="none"
					class="text-accent center bg-accent-content/80 absolute size-32 rounded-full"
				></iconify-icon>

				<span
					class="badge center badge-lg badge-accent absolute w-max font-medium"
					>loading more events...</span
				>
			</div>
		</div>
	</div>
</BaseLayout>
