---
import IconifyLoader from "~/components/loader/iconify-loader.astro";
import { filterStamps, getStamps } from "../_list";
import { schema } from "../_params";
import FilterFieldset from "./_filter-fieldset.astro";

export const partial = true;

const params = Astro.locals.parseQuery(schema);
const stamps = getStamps();
const { facets } = await filterStamps(params, stamps);
---

<dialog class="modal" id="filter_modal">
	<div class="modal-box">
		<h3 class="text-center text-lg font-medium">Filter stamps</h3>

		<form
			class="flex flex-col gap-1"
			id="filter"
			hx-disabled-elt="#filter input, #filter-actions button"
			hx-include="#filter"
			hx-select="#filter"
			hx-select-oob="#filter-actions"
			hx-swap="outerHTML transition:true"
			hx-target="this"
			hx-vals={JSON.stringify({ sort: params.sort })}
		>
			<label class="label mx-auto">
				<input
					hx-get="/page/stamps/filter"
					class="toggle toggle-sm"
					name="voice_stamp"
					type="checkbox"
					checked={params.voice_stamp}
				/>
				Voice stamp
			</label>

			<FilterFieldset name="band" {facets} {params} />
			<FilterFieldset name="character" {facets} {params} />
		</form>

		<div
			class="bg-base-100 join sticky bottom-0 w-full px-1 py-2"
			id="filter-actions"
		>
			<button
				hx-get="/page/stamps"
				class="btn btn-neutral join-item flex-1"
				hx-on--after-request="event.detail.successful && filter_modal.close()"
				hx-select="#stamps"
				hx-swap="outerHTML show:top"
				hx-target="#stamps"
				hx-vals={JSON.stringify(params)}
			>
				<IconifyLoader icon="lucide:filter" size-class="size-6" />
				Apply
			</button>

			<button
				hx-get="/page/stamps/filter"
				class="btn btn-error join-item"
				hx-swap="outerHTML transition:true"
				hx-target="closest dialog"
				hx-vals={JSON.stringify(schema.parse({}))}
			>
				<IconifyLoader icon="lucide:rotate-ccw" size-class="size-6" />
				Reset
			</button>
		</div>
	</div>

	<form class="modal-backdrop" method="dialog">
		<button>close</button>
	</form>
</dialog>
