---
import { IMAGE_FORMAT } from "@hina-is/bestdori/constants";

import { dayjs, formatDuration } from "~/lib/date";
import type { sortLatestBirthday } from "./_birthday";

interface Props {
	entries: ReturnType<typeof sortLatestBirthday>;
}

const now = dayjs();
const { entries } = Astro.props;
---

<ul
	class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical mx-8"
>
	{
		entries.map(({ id, ...character }, idx) => (
			<li
				class="group"
				{id}
				data-band={character.band.slug}
				data-character={character.slug}
			>
				<hr class="bg-character group-first:hidden" />

				<div class="timeline-middle">
					<div class="bg-character text-character-content rounded-box border-base-content/20 flex size-8 items-center justify-center border">
						<iconify-icon class="size-6" icon="lucide:cake" width="none" />
					</div>
				</div>
				<div
					role="button"
					class:list={[
						"bg-character/67 text-character-content rounded-box mt-3 mb-6 flex cursor-pointer flex-col gap-1 p-4 pt-2 group-odd:md:items-end",
						idx % 2 === 0 ? "timeline-start" : "timeline-end",
					]}
					onclick={`scrollKeepHistory('${id}')`}
				>
					<div class="inline-flex gap-2 font-mono group-odd:md:flex-row-reverse">
						<span class="italic">
							{character.nextBirthday.format("YYYY-MM-DD")}
						</span>
						<p class="font-light">
							(
							<span
								class="tooltip tooltip-left tooltip-character group-odd:md:tooltip-right -mx-1.5 cursor-default underline decoration-dotted before:font-sans before:font-normal after:hidden"
								data-tip={formatDuration(now, character.nextBirthday)}
								onclick="event.stopPropagation()"
								set:text={character.nextBirthday.from(now)}
							/>
							)
						</p>
					</div>

					<div class="inline-flex items-center gap-2 group-odd:md:flex-row-reverse">
						<img
							class="size-8"
							src={`/assets/characters/${character.slug}.${IMAGE_FORMAT}`}
							alt={`${character.name} icon`}
							loading="lazy"
						/>
						<span class="font-medium md:text-lg">{character.name}</span>
					</div>

					<div
						class="badge badge-band font-medium"
						data-band={character.band.slug}
					>
						<img
							class="size-5"
							src={`/assets/bands/${character.band.slug}.svg`}
							alt={`${character.band.name} icon`}
							loading="lazy"
						/>

						{character.band.name}
					</div>
				</div>

				<hr class="from-character to-band bg-linear-to-b from-25% to-50%" />
			</li>
		))
	}
</ul>
