---
import { IMAGE_FORMAT } from "@hina-is/bestdori/constants";
import { cardsByCharacter } from "@hina-is/bestdori/data";

import { sample } from "es-toolkit";

import BaseLayout from "~/layouts/base-layout.astro";
import { pages } from "~/lib/page";
import { sortLatestBirthday } from "./_birthday";
import BirthdayTimeline from "./_birthday-timeline.astro";
import { filterCharacters, getCharacters } from "./_list";
import { schema } from "./_params";

const params = Astro.locals.parseQuery(schema);

const characters = getCharacters();
const { filtered } = await filterCharacters(params, characters);
const entries = sortLatestBirthday(filtered);

const randomCard =
	entries.length > 0 && sample(cardsByCharacter[entries[0].slug]);
const randomCardType = sample(["trained", "normal"]);
---

<BaseLayout
	background={randomCard
		? {
				...Astro.locals.useThumbhash(
					`${randomCard.slug}-full-${randomCardType}`,
				),
				src: `/assets/cards/${randomCard.slug}-full-${randomCardType}.${IMAGE_FORMAT}`,
				alt: `${randomCard.character.name} card`,
			}
		: undefined}
	metadata={pages["/page/birthday"]}
>
	<div class="flex flex-col items-center gap-4">
		<div class="badge badge-accent badge-xl w-48 font-medium">
			Birthday Tracker
		</div>

		<label class="input w-64">
			<iconify-icon class="size-4" icon="lucide:search" width="none"
			></iconify-icon>
			<input
				hx-get
				hx-trigger="input delay:300ms"
				class="flex-1"
				name="query"
				type="search"
				hx-on--before-request="history.replaceState(null, '', location.pathname)"
				hx-select="#birthday-list"
				hx-swap="outerHTML transition:true"
				hx-target="#birthday-list"
				placeholder="Search"
			/>
		</label>

		<div id="birthday-list">
			{
				filtered.length > 0 ? (
					<BirthdayTimeline {entries} />
				) : (
					<p class="badge badge-warning">No characters match your search.</p>
				)
			}
		</div>
	</div>
</BaseLayout>
