---
import * as data from "@hina-is/bestdori/data";

import { shuffle } from "fast-shuffle";
import { titleCase } from "text-case";

import { CharacterSorter } from "~/components/preact/character-sorter";
import { CHARACTER_SORTER_STATE_KEY } from "~/components/preact/character-sorter/state";
import BaseLayout from "~/layouts/base-layout.astro";
import { pages } from "~/lib/page";
import { schema } from "./_params";

const params = Astro.locals.parseQuery(schema);

const characters = (() => {
	if (!params.band) return;
	else if (params.continue) return [];

	const results = [...data.characters.values()]
		.filter(({ band }) => params.band!.includes(band.slug))
		.map(({ name, slug }) => {
			const characterCards = [...data.cardsByCharacter.get(slug)!];

			return {
				name,
				slug,
				card: characterCards[Math.floor(Math.random() * characterCards.length)]
					.slug,
			};
		});

	return shuffle(results);
})();
---

<BaseLayout
	title={pages["page/character-sorter"].title}
	description={pages["page/character-sorter"].description}
>
	<div class="flex h-full flex-col items-center gap-4">
		<div class="inline-flex gap-2">
			<div class="size-8"></div>

			<h2 class="badge badge-accent badge-xl w-48 font-medium">
				Character Sorter
			</h2>

			<div class="tooltip tooltip-left" data-tip="Reset sorter">
				<button
					hx-get={Astro.url.pathname}
					class="btn btn-sm btn-circle btn-error"
					hx-confirm="This will clear all your current rankings and start from the beginning, confirm?"
					hx-on--after-request={`event.detail.successful && localStorage.removeItem('${CHARACTER_SORTER_STATE_KEY}')`}
					hx-select="#sorter"
					hx-swap="outerHTML"
					hx-target="#sorter"
				>
					<iconify-icon
						class="htmx-indicator-replace size-4"
						icon="lucide:rotate-ccw"
						width="none"></iconify-icon>
					<iconify-icon
						class="htmx-indicator size-4"
						icon="svg-spinners:90-ring-with-bg"
						width="none"></iconify-icon>
				</button>
			</div>
		</div>

		{
			characters ? (
				<div class="contents" id="sorter">
					<CharacterSorter {characters} client:only="preact">
						<div
							class="relative aspect-4/3 max-sm:w-full sm:h-80"
							slot="fallback"
						>
							<iconify-icon
								class="text-accent center bg-accent-content/80 absolute size-32 rounded-full"
								icon="svg-spinners:90-ring-with-bg"
								width="none"
							/>

							<span class="badge center badge-lg badge-accent absolute w-max font-medium">
								loading sorter component...
							</span>
						</div>
					</CharacterSorter>
				</div>
			) : (
				<form class="flex flex-col gap-2 px-8" id="sorter">
					<fieldset
						class="fieldset border-base-300 bg-base-200 rounded-box max-w-lg border p-4 pt-2"
						id="select-band"
					>
						<legend class="fieldset-legend">Bands</legend>

						<div class="flex flex-wrap gap-1">
							{[...data.bands.values()]
								.map(({ slug }, idx) => ({
									id: `band_${idx}`,
									value: slug,
									icon: `/assets/bands/${slug}.svg`,
									label: data.bandsBySlug.get(slug)?.name ?? titleCase(slug),
								}))
								.map(({ id, value, label, icon }) => (
									<div data-band={value}>
										<input
											class="peer hidden"
											{id}
											name="band"
											type="checkbox"
											{value}
											checked={!params.band || params.band.includes(value)}
										/>
										<label
											class="btn max-sm:btn-sm peer-[&:not(:checked):not(:disabled)]:btn-outline peer-checked:btn-band peer-disabled:btn-disabled peer-disabled:btn-neutral"
											for={id}
										>
											<img class="size-6" src={icon} alt={`${label} icon`} />
											{label}
										</label>
									</div>
								))}
						</div>
					</fieldset>

					{params.continue === undefined ? (
						<div
							hx-get
							hx-trigger="load"
							class="w-full px-1"
							hx-select="#start-sort"
							hx-swap="outerHTML"
							hx-vals={`js:{ continue: "${CHARACTER_SORTER_STATE_KEY}" in localStorage }`}
						>
							<button class="btn btn-neutral btn-disabled w-full">
								Loading...
							</button>
						</div>
					) : (
						<div
							class="join w-full px-1"
							id="start-sort"
							hx-disabled-elt="#sorter input, #sorter button"
							hx-include="#sorter input"
							hx-select="#sorter"
							hx-swap="outerHTML"
							hx-target="#sorter"
						>
							<button hx-get class="btn btn-neutral join-item flex-1">
								<iconify-icon
									class="htmx-indicator-replace size-4"
									icon="lucide:play"
									width="none"
								/>
								<iconify-icon
									class="htmx-indicator size-4"
									icon="svg-spinners:90-ring-with-bg"
									width="none"
								/>
								Start sorting
							</button>

							{params.continue && (
								<button
									hx-get
									class="btn btn-warning join-item"
									name="continue"
									value="true"
								>
									<iconify-icon
										class="htmx-indicator-replace size-4"
										icon="lucide:redo"
										width="none"
									/>
									<iconify-icon
										class="htmx-indicator size-4"
										icon="svg-spinners:90-ring-with-bg"
										width="none"
									/>
									Continue
								</button>
							)}
						</div>
					)}
				</form>
			)
		}
	</div>
</BaseLayout>
