---
import {
	IMAGE_FORMAT,
	STAMP_VIDEO_FORMAT,
	STAMP_VIDEO_FORMAT_MIME,
} from "@hina-is/bestdori/constants";
import { stamps } from "@hina-is/bestdori/data";

import type { GetStaticPaths } from "astro";

export const partial = true;
export const prerender = true;

export const getStaticPaths = (() =>
	Object.values(stamps)
		.filter(({ voiced }) => voiced)
		.map((stamp) => ({
			params: { slug: stamp.slug },
			props: { stamp },
		}))) satisfies GetStaticPaths;

const { stamp } = Astro.props;
const character = stamp.character!;
const title = `${character.name.split(" ")[0]} from (@${character.band.name})`;

const url = new URL(Astro.site!);
const pageUrl = new URL("/page/stamps", url);
const image = new URL(
	`/assets/stamps/${stamp.slug}-image.${IMAGE_FORMAT}`,
	url,
);
const video = new URL(
	`/assets/stamps/${stamp.slug}.${STAMP_VIDEO_FORMAT}`,
	url,
);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta content={`0;url=${pageUrl}`} http-equiv="refresh" />

		<title>{character.name}</title>
		<meta content="hina is ♥" property="og:site_name" />
		<meta content={title} property="og:title" />
		<meta content={character.color} property="theme-color" />

		<meta content={pageUrl} property="og:url" />
		<meta content={video} property="og:video" />
		<meta content={video} property="og:video:secure_url" />
		<meta content={STAMP_VIDEO_FORMAT_MIME} property="og:video:type" />
		<meta content="164" property="og:video:height" />
		<meta content="200" property="og:video:width" />
		<meta content={image} property="og:image" />

		<meta name="twitter:card" content="player" />

		<link
			type="image/png"
			href={new URL("/favicon-96x96.png", url)}
			rel="icon"
			sizes="96x96"
		/>

		<!-- below is hax so discord will send request to /api/v1/statuses/$id -->
		<link
			type="application/activity+json"
			href={new URL(
				`/users/0/statuses/stamp${stamp.slug.replaceAll("-", "")}`,
				url,
			)}
			rel="alternate"
		/>
	</head>

	<body></body>
</html>
