---
import { events } from "@hina-is/bestdori/data";

import type { GetStaticPaths } from "astro";
import { colord } from "colord";

import { IMAGE_FORMAT } from "~/lib/compressor/constants";

export const partial = true;
export const prerender = true;

export const getStaticPaths = (() => {
	return [...events.values()]
		.flatMap(({ cards }) => cards)
		.map((card) => ({ params: { slug: card.slug }, props: { card } }));
}) satisfies GetStaticPaths;

const { card } = Astro.props;
const {
	attribute,
	character: { band, ...character },
} = card;
---

<dialog
	class="modal max-sm:modal-bottom"
	style={`--attribute: ${attribute.color}; --band: ${band.color}; --character: ${character.colorCode}`}
>
	<div class="modal-box w-full sm:max-w-xl">
		<div class="flex w-full items-center gap-y-4 max-sm:flex-col-reverse">
			<div class="flex gap-1 font-medium">
				<figure
					class="hover-gallery rounded-box bg-character/25 border-character size-12 border"
				>
					<img
						src={`/assets/cards/${card.slug}-icon-normal.${IMAGE_FORMAT}`}
						alt={`${card.name} icon`}
						loading="lazy"
					/>
					<img
						src={`/assets/cards/${card.slug}-icon-trained.${IMAGE_FORMAT}`}
						alt={`${card.name} icon (trained)`}
						loading="lazy"
					/>
				</figure>

				<div
					data-tip={character.name}
					class:list={[
						"tooltip tooltip-bottom before:bg-character",
						colord(character.colorCode).brightness() < 0.67
							? "before:text-white"
							: "before:text-black",
					]}
				>
					<img
						class="size-12"
						src={`/assets/characters/${character.slug}.${IMAGE_FORMAT}`}
						alt={`${character.name} icon`}
					/>
				</div>

				<div
					data-tip={band.name}
					class:list={[
						"tooltip tooltip-bottom before:bg-band",
						colord(band.color).brightness() < 0.67
							? "before:text-white"
							: "before:text-black",
					]}
				>
					<img
						class="size-12"
						src={`/assets/bands/${band.slug}.svg`}
						alt={`${band.name} icon`}
					/>
				</div>

				<div
					class="tooltip tooltip-bottom before:bg-attribute before:text-white"
					data-tip={attribute.name.toUpperCase()}
				>
					<img
						class="size-12"
						src={`/assets/attributes/${attribute.name}.svg`}
						alt=`${attribute.name.toUpperCase()} icon`
					/>
				</div>
			</div>

			<div
				class="flex flex-1 flex-col items-center gap-1 font-medium sm:items-end"
			>
				<h3 class="text-center sm:text-end">{card.name}</h3>
				<div
					class="inline-flex items-center gap-1 max-sm:flex-row-reverse"
					style={`anchor-name: --anchor-${card.slug}-skill`}
				>
					<button
						class="badge badge-lg badge-accent cursor-pointer"
						popovertarget={`${card.slug}-skill`}
					>
						<iconify-icon class="size-5" icon="lucide:zap" width="none"
						></iconify-icon>
						{card.skill.multiplier}
					</button>
					<button
						class="badge bg-attribute badge-lg cursor-pointer text-white"
						popovertarget={`${card.slug}-skill`}
					>
						{card.type.toUpperCase()} &starf;{card.rarity}
					</button>
				</div>
			</div>
		</div>

		<div
			class="dropdown dropdown-center sm:dropdown-end dropdown-bottom rounded-box bg-base-100 shadow-attribute mt-2 w-max max-w-90 px-4 py-2 text-center shadow-sm"
			id={`${card.slug}-skill`}
			popover
			style={`position-anchor: --anchor-${card.slug}-skill`}
		>
			{card.skill.description}
		</div>

		<figure
			class="hover-gallery bg-character/5 rounded-box shadow-band hover:shadow-character mt-2 aspect-60/45 w-full shadow-md"
		>
			<img
				src={`/assets/cards/${card.slug}-full-normal.${IMAGE_FORMAT}`}
				alt={`${card.name}`}
			/>
			<img
				src={`/assets/cards/${card.slug}-full-normal.${IMAGE_FORMAT}`}
				alt={`${card.name}`}
			/>
			<img
				src={`/assets/cards/${card.slug}-full-trained.${IMAGE_FORMAT}`}
				alt={`${card.name} (trained)`}
			/>
		</figure>

		<a
			class="btn btn-sm btn-info mt-2 w-full"
			href={`https://bestdori.com/info/cards/${card.id}`}
			rel="noopener noreferrer"
			target="_blank"
		>
			<iconify-icon class="size-4" icon="lucide:external-link" width="none"
			></iconify-icon>
			View on Bestdori!
		</a>
	</div>

	<form class="modal-backdrop" method="dialog">
		<button>close</button>
	</form>
</dialog>
