---
import { cardsBySlug } from "@hina-is/bestdori/data";

import { colord } from "colord";

import { IMAGE_FORMAT } from "~/lib/compressor/constants";

export const partial = true;

const card = cardsBySlug.get(Astro.params.slug ?? "");
if (!card) return new Response(null, { status: 404 });

const {
	attribute,
	character: { band, ...character },
} = card;
---

<dialog
	class="modal max-sm:modal-bottom"
	style={`--attribute: ${attribute.color}; --band: ${band.color}; --character: ${character.colorCode}`}
>
	<div class="modal-box w-full sm:max-w-xl">
		<div class="flex w-full items-center gap-y-4 max-sm:flex-col-reverse">
			<div class="flex gap-1 font-medium">
				<figure
					class="hover-gallery rounded-box bg-character/25 border-character size-12 border"
				>
					<img
						{...Astro.locals.useThumbhash(`${card.slug}-icon-normal`)}
						src={`/assets/cards/${card.slug}-icon-normal.${IMAGE_FORMAT}`}
						alt={`${card.name} icon`}
						loading="lazy"
					/>
					<img
						{...Astro.locals.useThumbhash(`${card.slug}-icon-trained`)}
						src={`/assets/cards/${card.slug}-icon-trained.${IMAGE_FORMAT}`}
						alt={`${card.name} icon (trained)`}
						loading="lazy"
					/>
				</figure>

				<div
					data-tip={character.name}
					class:list={[
						"tooltip tooltip-bottom before:bg-character after:bg-character",
						colord(character.colorCode).brightness() < 0.67
							? "before:text-white"
							: "before:text-black",
					]}
				>
					<img
						class="size-12"
						src={`/assets/characters/${character.slug}.${IMAGE_FORMAT}`}
						alt={`${character.name} icon`}
					/>
				</div>

				<div
					data-tip={band.name}
					class:list={[
						"tooltip tooltip-bottom before:bg-band after:bg-band",
						colord(band.color).brightness() < 0.67
							? "before:text-white"
							: "before:text-black",
					]}
				>
					<img
						class="size-12"
						src={`/assets/bands/${band.slug}.svg`}
						alt={`${band.name} icon`}
					/>
				</div>

				<div
					class="tooltip tooltip-bottom before:bg-attribute after:bg-attribute before:text-white"
					data-tip={attribute.name.toUpperCase()}
				>
					<img
						class="size-12"
						src={`/assets/attributes/${attribute.name}.svg`}
						alt=`${attribute.name.toUpperCase()} icon`
					/>
				</div>

				{
					card.gachaText && (
						<div class="dropdown dropdown-end dropdown-close">
							<button
								class:list={[
									"btn not-disabled:bg-character btn-circle size-12",
									colord(character.colorCode).brightness() < 0.67
										? "not-disabled:text-white"
										: "not-disabled:text-black",
								]}
								onclick={`playCardAudio(this, '${card.slug}')`}
							>
								<iconify-icon
									class="htmx-indicator-replace size-8"
									icon="lucide:volume-2"
									width="none"
								/>
								<iconify-icon
									class="htmx-indicator size-8"
									icon="svg-spinners:90-ring-with-bg"
									width="none"
								/>
							</button>

							<div
								class:list={[
									"dropdown-content bg-character rounded-box mt-2 w-max max-w-64 px-2 py-1 text-sm",
									colord(character.colorCode).brightness() < 0.67
										? "text-white"
										: "text-black",
								]}
							>
								{card.gachaText}
							</div>
						</div>
					)
				}
			</div>

			<div
				class="flex flex-1 flex-col items-center gap-1 font-medium sm:items-end"
			>
				<h3 class="text-center sm:text-end">{card.name}</h3>
				<div
					class="tooltip tooltip-bottom after:bg-base-200 inline-flex items-center gap-1 max-sm:flex-row-reverse"
				>
					<div
						class="tooltip-content divide-base-content rounded-box bg-base-200/90 shadow-attribute text-base-content flex w-max max-w-90 flex-col space-y-1 divide-y text-center shadow-sm sm:max-w-64"
					>
						<span class="line-clamp-1">{card.skill.name}</span>
						<span class="font-normal">{card.skill.description}</span>
					</div>

					<button class="badge badge-lg badge-accent">
						<iconify-icon class="size-5" icon="lucide:zap" width="none"
						></iconify-icon>
						{card.skill.multiplier}
					</button>
					<button class="badge bg-attribute badge-lg text-white">
						{card.type.toUpperCase()} &starf;{card.rarity}
					</button>
				</div>
			</div>
		</div>

		<figure
			class="hover-gallery bg-character/5 rounded-box shadow-band hover:shadow-character mt-2 aspect-60/45 w-full shadow-md"
		>
			<img
				{...Astro.locals.useThumbhash(`${card.slug}-full-normal`)}
				src={`/assets/cards/${card.slug}-full-normal.${IMAGE_FORMAT}`}
				alt={`${card.name}`}
			/>
			<img
				{...Astro.locals.useThumbhash(`${card.slug}-full-normal`)}
				src={`/assets/cards/${card.slug}-full-normal.${IMAGE_FORMAT}`}
				alt={`${card.name}`}
			/>
			<img
				{...Astro.locals.useThumbhash(`${card.slug}-full-trained`)}
				src={`/assets/cards/${card.slug}-full-trained.${IMAGE_FORMAT}`}
				alt={`${card.name} (trained)`}
			/>
		</figure>

		<a
			class="btn btn-sm btn-info mt-2 w-full"
			href={`https://bestdori.com/info/cards/${card.id}`}
			rel="noopener noreferrer"
			target="_blank"
		>
			<iconify-icon class="size-4" icon="lucide:external-link" width="none"
			></iconify-icon>
			View on Bestdori!
		</a>
	</div>

	<form class="modal-backdrop" method="dialog">
		<button>close</button>
	</form>
</dialog>
