---
import { startCase } from "es-toolkit";

import IconifyLoader from "~/components/loader/iconify-loader.astro";
import { filterEvents, getEvents } from "../_list";
import { schema } from "../_params";
import FilterFieldset from "./_filter-fieldset.astro";

export const partial = true;

const params = Astro.locals.parseQuery(schema);
const events = getEvents(params);
const { facets } = await filterEvents(params, events.list);
---

<dialog class="modal" id="filter_modal">
	<div class="modal-box">
		<h3 class="text-center text-lg font-medium">Filter {params.list} events</h3>

		<form
			class="flex flex-col gap-1"
			id="filter"
			hx-disabled-elt="#filter input, #filter-actions button"
			hx-include="#filter"
			hx-select="#filter"
			hx-select-oob="#filter-actions"
			hx-swap="outerHTML transition:true"
			hx-target="this"
			hx-vals={JSON.stringify({ list: params.list })}
		>
			<FilterFieldset name="attribute" {facets} {params} />
			<FilterFieldset name="event_type" {facets} {params} />

			<FilterFieldset name="band" {facets} {params}>
				<div class="join">
					{
						schema.shape.filter_band.def.innerType.options.map((value) => (
							<input
								hx-get="/page/events/filter"
								class="join-item btn btn-sm btn-outline border-base-content checked:btn-accent"
								name="filter_band"
								type="radio"
								{value}
								aria-label={startCase(value)}
								checked={params.filter_band === value}
								disabled={
									params.filter_character !== "event-bonus" ||
									(params.filter_band !== value &&
										params.character &&
										params.character.length > 1)
								}
							/>
						))
					}
				</div>
			</FilterFieldset>

			<FilterFieldset name="character" {facets} {params}>
				<div class="join overflow-auto">
					{
						schema.shape.filter_character.def.innerType.options.map((value) => (
							<input
								hx-get="/page/events/filter"
								class="join-item btn btn-sm btn-outline border-base-content checked:btn-accent"
								name="filter_character"
								type="radio"
								{value}
								aria-label={startCase(value)}
								checked={params.filter_character === value}
							/>
						))
					}
				</div>
			</FilterFieldset>
		</form>

		<div
			class="bg-base-100 join sticky bottom-0 w-full px-1 py-2"
			id="filter-actions"
		>
			<button
				hx-get="/page/events"
				class="btn btn-neutral join-item flex-1"
				hx-on--after-request="event.detail.successful && filter_modal.close()"
				hx-select="#events"
				hx-swap="outerHTML show:top"
				hx-target="#events"
				hx-vals={JSON.stringify(params)}
			>
				<IconifyLoader icon="lucide:filter" size-class="size-6" />
				Apply
			</button>

			<button
				hx-get="/page/events/filter"
				class="btn btn-error join-item"
				hx-swap="outerHTML transition:true"
				hx-target="closest dialog"
				hx-vals={JSON.stringify(schema.parse({}))}
			>
				<IconifyLoader icon="lucide:rotate-ccw" size-class="size-6" />
				Reset
			</button>
		</div>
	</div>

	<form class="modal-backdrop" method="dialog">
		<button>close</button>
	</form>
</dialog>
