---
import { titleCase } from "text-case";

import { filterEvents, getEvents } from "../_list";
import { schema } from "../_params";

export const partial = true;

const params = Astro.locals.parseQuery(schema);
const events = getEvents(params);
const { facets } = await filterEvents(params, events.list);
---

<dialog class="modal max-sm:modal-bottom" id="filter_modal">
	<div class="modal-box max-h-4/5 w-full sm:max-w-xl">
		<h3 class="text-center text-lg font-medium">Filter {params.list} events</h3>

		<form
			hx-trigger="input"
			class="flex flex-col gap-1"
			id="filter"
			hx-disabled-elt="#filter input"
			hx-include="#filter"
			hx-select="#filter"
			hx-select-oob="#apply-filter"
			hx-swap="outerHTML transition:true"
			hx-target="this"
			hx-vals={JSON.stringify({ list: params.list })}
		>
			{
				facets.map(({ name, values }) => (
					<fieldset class="group fieldset border-base-300 rounded-box w-full border p-4 pt-2">
						<legend class="fieldset-legend">{titleCase(name)}</legend>

						<div class="flex flex-wrap gap-1">
							{values.map(({ id, value, label, icon, count }) => (
								<div>
									<input
										class="peer hidden"
										{id}
										{name}
										type="checkbox"
										{value}
										checked={
											Array.isArray(params[name])
												? params[name].includes(value as never)
												: params[name] === value
										}
									/>
									<label
										hx-get="/page/events/filter"
										hx-trigger="input from:previous"
										class="btn max-sm:btn-sm peer-[&:not(:checked):not(:disabled)]:btn-outline peer-checked:btn-accent peer-disabled:btn-disabled peer-disabled:btn-neutral"
										for={id}
									>
										{icon && (
											<>
												<img
													class="htmx-indicator-replace size-6 sm:size-8"
													src={icon}
													alt={`${label} icon`}
												/>
												<iconify-icon
													class="htmx-indicator size-6 sm:size-8"
													icon="svg-spinners:90-ring-with-bg"
													width="none"
												/>
											</>
										)}
										{label} ({count})
									</label>
								</div>
							))}

							{params[name] && (
								<input
									hx-get="/page/events/filter"
									class="btn max-sm:btn-sm"
									{name}
									type="checkbox"
									value="reset"
									aria-label="Reset"
								/>
							)}
						</div>
					</fieldset>
				))
			}
		</form>

		<div class="bg-base-100 sticky bottom-0 w-full px-4 py-2">
			<button
				hx-get="/page/events"
				class="btn btn-primary w-full"
				id="apply-filter"
				hx-indicator="this"
				hx-on--after-request="event.detail.successful && filter_modal.close()"
				hx-select="#events"
				hx-swap="outerHTML show:top"
				hx-target="#events"
				hx-vals={JSON.stringify(params)}
			>
				<iconify-icon
					class="htmx-indicator-replace size-6"
					icon="lucide:filter"
					width="none"></iconify-icon>
				<iconify-icon
					class="htmx-indicator size-6"
					icon="svg-spinners:90-ring-with-bg"
					width="none"></iconify-icon>

				Apply filter
			</button>
		</div>
	</div>

	<form class="modal-backdrop" method="dialog">
		<button>close</button>
	</form>
</dialog>
