---
import { IMAGE_FORMAT } from "@hina-is/bestdori/constants";

import { isEqual, startCase } from "es-toolkit";

import IconifyLoader from "~/components/loader/iconify-loader.astro";
import InfiniteLoader from "~/components/loader/infinite-loader.astro";
import BaseLayout from "~/layouts/base-layout.astro";
import { pages } from "~/lib/page";
import { paginate } from "~/lib/paginate";
import { filterStamps, getStamps } from "./_list";
import { schema } from "./_params";

const params = Astro.locals.parseQuery(schema);
const otherSort = params.sort === "default" ? "event-release" : "default";

const stamps = getStamps();
const { filtered } = await filterStamps(params, stamps);
const page = paginate({
	items: filtered,
	context: Astro,
	size: 20,
	extraProps: { "hx-select": ".stamp", "hx-swap": "afterend" },
	params,
});

if (Astro.request.headers.get("hx-request") === "true" && page.current === 1) {
	const isDefault = isEqual(params, schema.parse({}));

	const replaceUrl = new URL(Astro.url);
	replaceUrl.search = isDefault ? "" : Astro.url.search;
	replaceUrl.searchParams.delete("page");
	Astro.response.headers.set("hx-replace-url", replaceUrl.href);
}
---

<BaseLayout metadata={pages["/page/stamps"]}>
	<div class="flex flex-col items-center gap-4" id="stamps">
		<div class="inline-flex gap-2">
			<button
				hx-get="/page/stamps/filter"
				class="btn btn-sm btn-circle tooltip tooltip-right btn-success"
				data-tip="Filter stamps"
				hx-vals={JSON.stringify(params)}
			>
				<IconifyLoader icon="lucide:list-filter" />
			</button>

			<h2 class="badge badge-accent badge-xl w-48 font-medium">Stamps</h2>

			<button
				hx-get
				class="btn btn-sm btn-circle tooltip tooltip-left btn-success"
				data-tip={`Sort: ${startCase(otherSort)}`}
				hx-select="#stamps"
				hx-swap="outerHTML transition:true"
				hx-target="#stamps"
				hx-vals={JSON.stringify({ ...params, sort: otherSort })}
			>
				<IconifyLoader
					icon={otherSort === "event-release"
						? "lucide:calendar-days"
						: "lucide:arrow-up-down"}
				/>
			</button>
		</div>

		<div
			class="flex flex-wrap justify-center gap-x-0.5 gap-y-1"
			hx-indicator="#stamps-loader"
		>
			{
				page.items.map(({ id, ...stamp }, idx) => (
					<div
						{...(page.isLastElement(idx) && page.props)}
						class="stamp relative aspect-40/33 h-32"
					>
						<img
							class="w-full"
							{...Astro.locals.useThumbhash(`${stamp.slug}-image`)}
							src={`/assets/stamps/${stamp.slug}-image.${IMAGE_FORMAT}`}
							alt={`Stamp #${id}`}
							loading="lazy"
						/>

						{stamp.voiced && (
							<button
								class="btn bg-base-100/80 btn-circle absolute right-1 bottom-1.5 size-8 border-0 backdrop-blur-sm"
								onclick={`playStampAudio(this, '${stamp.slug}')`}
							>
								<IconifyLoader icon="lucide:volume-2" />
							</button>
						)}
					</div>
				))
			}
		</div>
	</div>

	<InfiniteLoader class="mt-8" id="stamps-loader" thing="stamps" />
</BaseLayout>
