---
import { IMAGE_FORMAT } from "@hina-is/bestdori/constants";

import { isEqual } from "es-toolkit";

import IconifyLoader from "~/components/loader/iconify-loader.astro";
import InfiniteLoader from "~/components/loader/infinite-loader.astro";
import BaseLayout from "~/layouts/base-layout.astro";
import { pages } from "~/lib/page";
import { paginate } from "~/lib/paginate";
import { filterStamps, getStamps } from "./_list";
import { schema } from "./_params";

const params = Astro.locals.parseQuery(schema);

const stamps = getStamps();
const { filtered } = await filterStamps(params, stamps);
const page = paginate({
	items: filtered,
	context: Astro,
	size: 20,
	extraProps: { "hx-select": ".stamp", "hx-swap": "afterend" },
	params,
});

if (Astro.request.headers.get("hx-request") === "true" && page.current === 1) {
	const isDefault = isEqual(params, schema.parse({}));

	const replaceUrl = new URL(Astro.url);
	replaceUrl.search = isDefault ? "" : Astro.url.search;
	replaceUrl.searchParams.delete("page");
	Astro.response.headers.set("hx-replace-url", replaceUrl.href);
}
---

<BaseLayout metadata={pages["/page/stamps"]}>
	<div class="flex flex-col items-center gap-4" id="stamps">
		<div class="inline-flex gap-2">
			<button
				hx-get="/page/stamps/filter"
				class="btn btn-sm btn-circle tooltip tooltip-right btn-success"
				data-tip="Filter stamps"
				hx-vals={JSON.stringify(params)}
			>
				<IconifyLoader icon="lucide:list-filter" />
			</button>

			<h2 class="badge badge-accent badge-xl w-48 font-medium">Stamps</h2>

			<button
				class="btn btn-sm btn-circle btn-success tooltip tooltip-left"
				data-tip="Sort stamps"
				popovertarget="choose-sort-stamps"
				style="anchor-name: --anchor-choose-sort-stamps"
			>
				<iconify-icon class="size-4" icon="lucide:arrow-up-down" width="none"
				></iconify-icon>
			</button>
			<div
				class="dropdown dropdown-end bg-base-100/80 rounded-field mt-1 w-max overflow-hidden shadow-sm"
				id="choose-sort-stamps"
				hx-select="#stamps"
				hx-swap="outerHTML transition:true"
				hx-target="#stamps"
				popover
				style="position-anchor: --anchor-choose-sort-stamps"
			>
				<div class="join join-vertical">
					<button
						hx-get
						name="sort"
						value="default"
						class:list={[
							"btn btn-sm join-item",
							params.sort === "default" &&
								"btn-secondary btn-active pointer-events-none",
						]}
					>
						<IconifyLoader icon="lucide:list" />
						Default
					</button>
					<button
						hx-get
						name="sort"
						value="event-release"
						class:list={[
							"btn btn-sm join-item",
							params.sort === "event-release" &&
								"btn-secondary btn-active pointer-events-none",
						]}
					>
						<IconifyLoader icon="lucide:calendar" />
						Event release
					</button>
				</div>
			</div>
		</div>

		<div
			class="flex flex-wrap justify-center gap-x-0.5 gap-y-1"
			hx-indicator="#stamps-loader"
		>
			{
				page.items.map(({ id, ...stamp }, idx) => (
					<div
						{...(page.isLastElement(idx) && page.props)}
						class="stamp relative aspect-40/33 h-32"
					>
						<img
							class="w-full"
							{...Astro.locals.useThumbhash(`${stamp.slug}-image`)}
							src={`/assets/stamps/${stamp.slug}-image.${IMAGE_FORMAT}`}
							alt={`Stamp #${id}`}
							loading="lazy"
						/>

						{stamp.voiced && (
							<button
								class="btn bg-base-100/80 btn-circle absolute right-1 bottom-1.5 size-8 border-0 backdrop-blur-sm"
								onclick={`playStampAudio(this, '${stamp.slug}')`}
							>
								<IconifyLoader icon="lucide:volume-2" />
							</button>
						)}
					</div>
				))
			}
		</div>
	</div>

	<InfiniteLoader class="mt-8" id="stamps-loader" thing="stamps" />
</BaseLayout>
