---
import { SITE_NAME } from "astro:env/client";

import { IMAGE_FORMAT } from "@hina-is/bestdori/constants";
import { events } from "@hina-is/bestdori/data";

import { sample } from "es-toolkit";

import BaseLayout from "~/layouts/base-layout.astro";
import { pageList, pages } from "~/lib/page";

const randomEvent = sample(Object.values(events));
---

<BaseLayout
	background={{
		...Astro.locals.useThumbhash(`${randomEvent.slug}-background`),
		src: `/assets/events/${randomEvent.slug}-background.${IMAGE_FORMAT}`,
		alt: `${randomEvent.name} background`,
	}}
	metadata={pages["/"]}
>
	<div class="absolute inset-0 grid place-items-center">
		<div class="flex flex-col items-center gap-4">
			<h2 class="badge badge-accent badge-xl w-48 font-medium">
				{SITE_NAME}
			</h2>

			<div class="grid grid-cols-2 gap-1">
				{
					pageList
						.filter(({ path }) => path !== "/")
						.map(({ path, title }) => (
							<a class="link-hover btn btn-sm" href={path}>
								{title}
							</a>
						))
				}
			</div>
		</div>
	</div>
</BaseLayout>
