---
import {
	AUDIO_FORMAT,
	IMAGE_FORMAT,
	STAMP_VIDEO_FORMAT,
} from "@hina-is/bestdori/constants";
import type { Bandori } from "@hina-is/bestdori/data";

import type { JSX } from "astro/jsx-runtime";

import IconifyLoader from "~/components/loader/iconify-loader.astro";

interface Props extends JSX.HTMLAttributes {
	stamp: Bandori.Stamp;
}

const { stamp, class: className, ...props } = Astro.props;
const id = `stamp-${stamp.slug}`;
---

<div
	{id}
	data-character={stamp.character?.slug}
	class:list={["relative aspect-40/33 h-32", className]}
	{...props}
>
	<img
		class="w-full"
		{...Astro.locals.useThumbhash(`${stamp.slug}-image`)}
		data-floating={`#${id}`}
		src={`/assets/stamps/${stamp.slug}-image.${IMAGE_FORMAT}`}
		alt={`Stamp #${stamp.id}`}
		loading="lazy"
		tabindex="0"
	/>

	<div
		class:list={[
			"floating rounded-field border-base-content/67 w-max max-w-48 min-w-32 border px-1 py-1 sm:px-2",
			stamp.character
				? "bg-character text-character-content"
				: "text-neutral-content bg-neutral",
		]}
		tabindex="-1"
	>
		<div class="flex flex-col items-center">
			{
				typeof stamp.text === "string" ? (
					<p class="text-center text-sm">{stamp.text}</p>
				) : (
					<div class="tooltip text-center text-sm">
						<div
							class="tooltip-content max-w-48"
							set:html={(stamp.text.english
								? [`(${stamp.text.romaji})`, stamp.text.japanese]
								: [`(${stamp.text.translate})`, stamp.text.romaji]
							).join("<br>")}
						/>
						{stamp.text.english ?? stamp.text.japanese}
					</div>
				)
			}

			<ul class="menu menu-horizontal p-0">
				<li>
					<a
						class="tooltip"
						data-tip="Save image"
						href={`/assets/stamps/${stamp.slug}-image.${IMAGE_FORMAT}`}
						download
					>
						<iconify-icon class="size-4" icon="lucide:file-image" width="none"
						></iconify-icon>
					</a>
				</li>

				{
					stamp.voiced && (
						<>
							<li>
								<a
									class="tooltip"
									data-tip="Save audio"
									href={`/assets/stamps/${stamp.slug}-voice.${AUDIO_FORMAT}`}
									download
								>
									<iconify-icon
										class="size-4"
										icon="lucide:audio-lines"
										width="none"
									/>
								</a>
							</li>
							<li>
								<a
									class="tooltip"
									data-tip="Save video"
									href={`/assets/stamps/${stamp.slug}.${STAMP_VIDEO_FORMAT}`}
									download
								>
									<iconify-icon
										class="size-4"
										icon="lucide:file-play"
										width="none"
									/>
								</a>
							</li>
						</>
					)
				}

				<li>
					<button
						class="tooltip"
						data-tip="Share stamp"
						onclick={`navigator.share({ url: '${new URL(`/embed/stamp/${stamp.slug}`, Astro.site)}' })`}
					>
						<iconify-icon class="size-4" icon="lucide:link" width="none"
						></iconify-icon>
					</button>
				</li>
			</ul>
		</div>
	</div>

	{
		stamp.voiced && (
			<button
				class="btn bg-base-100/80 btn-circle absolute right-1 bottom-1.5 size-8 border-0 backdrop-blur-sm"
				onclick={`playStampAudio(this, '${stamp.slug}')`}
			>
				<IconifyLoader icon="lucide:volume-2" />
			</button>
		)
	}
</div>
