---
import {
	AUDIO_FORMAT,
	IMAGE_FORMAT,
	STAMP_VIDEO_FORMAT,
} from "@hina-is/bestdori/constants";
import type { Bandori } from "@hina-is/bestdori/data";

import type { JSX } from "astro/jsx-runtime";

import IconifyLoader from "~/components/loader/iconify-loader.astro";

interface Props extends JSX.HTMLAttributes {
	stamp: Bandori.Stamp;
}

const { stamp, class: className, ...props } = Astro.props;
---

<div
	data-character={stamp.character?.slug}
	class:list={["relative aspect-40/33 h-32", className]}
	{...props}
>
	<div class="floating">
		<ul
			class:list={[
				"menu rounded-field border-base-content/67 border p-0 [&_li>*]:rounded-none",
				stamp.character
					? "bg-character text-character-content"
					: "text-neutral-content bg-neutral",
			]}
		>
			<li>
				<a href={`/assets/stamps/${stamp.slug}-image.${IMAGE_FORMAT}`} download>
					<iconify-icon class="size-4" icon="lucide:file-image" width="none"
					></iconify-icon>
					image</a
				>
			</li>

			{
				stamp.voiced && (
					<>
						<li>
							<a
								href={`/assets/stamps/${stamp.slug}-voice.${AUDIO_FORMAT}`}
								download
							>
								<iconify-icon
									class="size-4"
									icon="lucide:audio-lines"
									width="none"
								/>
								audio
							</a>
						</li>
						<li>
							<a
								href={`/assets/stamps/${stamp.slug}.${STAMP_VIDEO_FORMAT}`}
								download
							>
								<iconify-icon
									class="size-4"
									icon="lucide:file-play"
									width="none"
								/>
								video
							</a>
						</li>
					</>
				)
			}

			<li>
				<button
					onclick={`navigator.share({ url: '${new URL(`/embed/stamp/${stamp.slug}`, Astro.site)}' })`}
				>
					<iconify-icon class="size-4" icon="lucide:link" width="none"
					></iconify-icon>
					share</button
				>
			</li>
		</ul>
	</div>

	<img
		class="w-full"
		{...Astro.locals.useThumbhash(`${stamp.slug}-image`)}
		src={`/assets/stamps/${stamp.slug}-image.${IMAGE_FORMAT}`}
		alt={`Stamp #${stamp.id}`}
		loading="lazy"
		onclick="toggleFloating(this.parentElement, this.previousElementSibling)"
		oncontextmenu="event.preventDefault(); toggleFloating(this.parentElement, this.previousElementSibling)"
	/>

	{
		stamp.voiced && (
			<button
				class="btn bg-base-100/80 btn-circle absolute right-1 bottom-1.5 size-8 border-0 backdrop-blur-sm"
				onclick={`playStampAudio(this, '${stamp.slug}')`}
			>
				<IconifyLoader icon="lucide:volume-2" />
			</button>
		)
	}
</div>
