---
import { GOATCOUNTER_ENDPOINT } from "astro:env/server";
import type { JSX } from "astro/jsx-runtime";

import "~/styles/global.css";

import Footer from "~/components/footer.astro";

interface Props {
	background?: JSX.ImgHTMLAttributes;
	description: string;
	title: string;
}

const { background, description, title } = Astro.props;

const fullTitle = `Hina is ♥ ${title}`;
const url = new URL(Astro.url.pathname, Astro.url.origin);
const route =
	Astro.routePattern === "/" ? "index" : Astro.routePattern.slice(1);
const image = new URL(`/open-graph/${route}.webp`, url.origin);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />

		<link href={url} rel="canonical" />

		<link type="image/png" href="/favicon-96x96.png" rel="icon" sizes="96x96" />
		<link type="image/svg+xml" href="/favicon.svg" rel="icon" />
		<link href="/favicon.ico" rel="shortcut icon" />
		<link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
		<meta name="apple-mobile-web-app-title" content="hina-is" />
		<link href="/site.webmanifest" rel="manifest" />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{fullTitle}</title>
		<meta name="description" content={description} />

		<meta content="hina-is" property="og:site_name" />
		<meta content="website" property="og:type" />
		<meta content={url} property="og:url" />
		<meta content={fullTitle} property="og:title" />
		<meta content={description} property="og:description" />
		<meta content={image} property="og:image" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={fullTitle} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image} />

		<meta
			name="google-site-verification"
			content="KpTaI8oT4Be4mwkos6HvICOSM6jjgFnMrlo1iJ649iE"
		/>
	</head>
	<body>
		{
			!Astro.locals.clientTimezone && (
				<div
					hx-get
					hx-trigger="load"
					hx-headers="js:{ 'x-timezone': Intl.DateTimeFormat().resolvedOptions().timeZone }"
					hx-select-oob="#content"
					hx-swap="delete"
				/>
			)
		}

		<div class="relative container mx-auto flex h-screen flex-col shadow-sm">
			{
				background && (
					<img
						class="absolute -z-10 h-full w-full object-cover brightness-67 select-none dark:brightness-33"
						{...background}
					/>
				)
			}

			<div
				class="flex flex-1 flex-col overflow-auto scroll-smooth"
				id="container"
			>
				<main class="flex-1 py-8" id="content" hx-indicator="#app-loader">
					<slot />
				</main>

				<Footer />
			</div>
		</div>

		<button
			class="btn btn-neutral md:btn-sm max-md:btn-circle"
			id="scroll-to-top"
		>
			<span class="max-md:hidden">Back to top</span>
			<iconify-icon class="size-4" icon="lucide:chevrons-up" width="none"
			></iconify-icon>
		</button>

		<div
			class="htmx-indicator bg-base-100/50 fixed inset-0 z-20"
			id="app-loader"
		>
			<iconify-icon
				class="center absolute size-24"
				icon="svg-spinners:bars-scale-fade"
				width="none"></iconify-icon>
		</div>

		{
			GOATCOUNTER_ENDPOINT && (
				<script
					data-goatcounter={GOATCOUNTER_ENDPOINT}
					src="/goatcounter.js"
					async
					is:inline
				/>
			)
		}
	</body>
</html>

<script>
	import "iconify-icon";
	import "~/lib/global";
	import "~/lib/htmx";

	// scroll to url fragment on page load
	window.addEventListener("load", () => {
		const hash = window.location.hash;
		if (!hash) return;

		document.querySelector(hash)?.scrollIntoView();
	});

	let timer: ReturnType<typeof setTimeout> | undefined = undefined;
	const container = document.getElementById("container")!;
	container.addEventListener("scroll", () => {
		clearTimeout(timer);
		timer = setTimeout(() => {
			scrollToTopButton.classList.toggle(
				"active",
				container.scrollTop >= container.clientHeight,
			);
		}, 150);
	});

	const scrollToTopButton = document.getElementById("scroll-to-top")!;
	scrollToTopButton.addEventListener("click", () => {
		scrollToTopButton.classList.remove("active");
		container.scroll({ top: 0 });
	});
</script>
