---
import type { Bandori } from "@hina-is/bestdori/data";

import { dayjs } from "~/lib/date";

interface Props extends Pick<Bandori.Event, "startAt" | "endAt"> {
	region: Bandori.GameRegion;
	predicted?: boolean;
}

const { startAt, endAt, region, predicted } = Astro.props;

const from = dayjs(startAt[region]).tz();
const to = dayjs(endAt[region]).tz();
const durationDays = to.diff(from, "days");
const durationHours = Math.round(to.diff(from, "hours", true));
---

<div class="inline-flex items-center gap-x-2">
	{
		predicted ? (
			<div
				class="tooltip tooltip-right"
				data-tip="Predicted date, might be inaccurate"
			>
				<span class="font-medium uppercase underline decoration-dotted">
					{region}?
				</span>
			</div>
		) : (
			<span class="font-medium uppercase">{region}</span>
		)
	}

	<span class="badge dark:badge-primary dark:badge-soft inline-flex">
		<div
			class="tooltip underline decoration-dotted"
			data-tip={`${from.format("YYYY-MM-DD HH:mm")} / ${from.fromNow()}`}
		>
			{from.format("YYYY-MM-DD")}
		</div>

		&mdash;

		<div
			class="tooltip underline decoration-dotted"
			data-tip={`${to.format("YYYY-MM-DD HH:mm")} / ${to.fromNow()}`}
		>
			{to.format("YYYY-MM-DD")}
		</div>
	</span>

	<div class="tooltip tooltip-left" data-tip={`Duration: ${durationHours}h`}>
		<span class="font-medium uppercase underline decoration-dotted">
			{durationDays}D
		</span>
	</div>
</div>
