---
import type { Bandori } from "@hina-is/bestdori/data";

import { IMAGE_FORMAT } from "~/lib/compressor/constants";
import { dayjs } from "~/lib/date";
import EventCardCardIcon from "./_event-card-card-icon.astro";

interface Props {
	event: Bandori.Event & { id: number };
}

const { event } = Astro.props;
const { cards, stamp } = event;
---

<div class="join" style={`anchor-name: --${event.slug}`}>
	{
		cards.length > 0 && (
			<details class="dropdown dropdown-top z-10">
				<summary
					class="btn tooltip tooltip-right join-item btn-sm btn-circle btn-soft"
					data-tip="Event bonus (cards)"
				>
					<iconify-icon class="size-4" icon="lucide:sparkle" width="none" />
				</summary>

				<div class="dropdown-content bg-base-300/80 rounded-box mb-1 flex h-max max-h-72 w-max flex-col-reverse flex-wrap justify-center gap-x-1 p-2 shadow-sm">
					{cards.map((card) => (
						<EventCardCardIcon {card} />
					))}
				</div>
			</details>
		)
	}

	<a
		class="btn join-item btn-sm btn-info flex-1"
		href={`https://bestdori.com/info/events/${event.id}`}
		rel="noopener noreferrer"
		target="_blank"
	>
		<iconify-icon class="size-4" icon="lucide:external-link" width="none"
		></iconify-icon>
		View on Bestdori!
	</a>

	<details class="dropdown dropdown-top dropdown-end z-10">
		<summary
			class="btn tooltip tooltip-left join-item btn-sm btn-circle btn-soft"
			data-tip="Event info"
		>
			<iconify-icon class="size-4" icon="lucide:ellipsis" width="none"
			></iconify-icon>
		</summary>

		<div
			class="dropdown-content bg-base-300/80 rounded-box mb-1 h-max p-2 shadow-sm"
		>
			<div class="join join-vertical">
				<button
					class="btn join-item btn-sm btn-circle btn-accent"
					popovertarget={`${event.slug}-bgm`}
				>
					<iconify-icon class="size-4" icon="lucide:music" width="none"
					></iconify-icon>
				</button>

				<button
					class="btn join-item btn-sm btn-circle btn-accent"
					popovertarget={`${event.slug}-stamp`}
				>
					<iconify-icon class="size-4" icon="lucide:smile" width="none"
					></iconify-icon>
				</button>

				<button
					class="btn join-item btn-sm btn-circle btn-accent"
					popovertarget={`${event.slug}-leaderboard`}
				>
					<iconify-icon class="size-4" icon="lucide:trophy" width="none"
					></iconify-icon>
				</button>
			</div>
		</div>
	</details>
</div>

<div
	class="dropdown dropdown-top dropdown-end bg-base-200/90 rounded-box mr-12 mb-1 p-2 shadow-sm"
	id={`${event.slug}-bgm`}
	popover
	style={`position-anchor: --${event.slug}`}
>
	<div class="mb-1 text-center text-sm font-medium">Event BGM</div>

	<div class="flex gap-1">
		<button
			class="btn btn-circle btn-primary btn-sm"
			onclick={`playEventBgm(this, '${event.slug}')`}
		>
			<iconify-icon
				class="htmx-indicator-replace size-4"
				icon="lucide:play"
				width="none"></iconify-icon>
			<iconify-icon
				class="htmx-indicator size-4"
				icon="svg-spinners:90-ring-with-bg"
				width="none"></iconify-icon>
		</button>

		<button
			class="btn btn-circle btn-secondary btn-sm"
			onclick="stopEventBgm()"
		>
			<iconify-icon class="size-4" icon="lucide:square" width="none"
			></iconify-icon>
		</button>
		<a
			class="btn btn-circle btn-secondary btn-sm"
			href={`/assets/events/${event.slug}-bgm.opus`}
			target="_blank"
		>
			<iconify-icon
				class="size-4"
				icon="lucide:arrow-big-down-dash"
				width="none"></iconify-icon>
		</a>
	</div>
</div>

<div
	class="dropdown dropdown-top dropdown-end bg-base-200/90 rounded-box mr-12 mb-1 p-2 shadow-sm"
	id={`${event.slug}-stamp`}
	popover
	style={`position-anchor: --${event.slug}`}
>
	<div class="mb-1 text-center text-sm font-medium">Event Stamp</div>

	<div class="relative aspect-40/33 h-32">
		<img
			class="w-full"
			{...Astro.locals.useThumbhash(`${stamp.slug}-image`)}
			src={`/assets/stamps/${stamp.slug}-image.${IMAGE_FORMAT}`}
			alt={`Stamp #${stamp.id}`}
			loading="lazy"
		/>

		{
			stamp.voiced && (
				<button
					class="btn bg-base-100/80 btn-circle absolute right-1 bottom-1.5 size-8 border-0 backdrop-blur-sm"
					onclick={`playStampAudio(this, '${event.stamp.slug}')`}
				>
					<iconify-icon
						class="htmx-indicator-replace size-4"
						icon="lucide:volume-2"
						width="none"
					/>
					<iconify-icon
						class="htmx-indicator size-4"
						icon="svg-spinners:90-ring-with-bg"
						width="none"
					/>
				</button>
			)
		}
	</div>
</div>

<div
	class="dropdown dropdown-top dropdown-end bg-base-200/90 rounded-box mr-12 mb-1 w-max p-2 shadow-sm"
	id={`${event.slug}-leaderboard`}
	popover
	style={`position-anchor: --${event.slug}`}
>
	<div class="text-center text-sm font-medium">Event Leaderboard</div>

	<ul class="menu">
		<li>
			<a
				href={`https://bestdori.com/tool/eventtracker/jp/t10/${event.id}`}
				rel="noopener noreferrer"
				target="_blank">T10 Leaderboard (JP)</a
			>
		</li>
		{
			dayjs(event.startAt.en).isBefore() && (
				<li>
					<a
						href={`https://bestdori.com/tool/eventtracker/en/t10/${event.id}`}
						rel="noopener noreferrer"
						target="_blank"
					>
						T10 Leaderboard (EN)
					</a>
				</li>
			)
		}
	</ul>
</div>
