---
import type { Bandori } from "@hina-is/bestdori/data";


import { IMAGE_FORMAT } from "~/lib/compressor/constants";

interface Props {
	character: Bandori.Character & { id: number };
	displayBand: boolean;
}

const { character, displayBand } = Astro.props;

const { band } = character;
---

<div
	class="tooltip group even:tooltip-bottom tooltip-character"
	data-character={character.slug}
>
	<div class="tooltip-content">
		{
			displayBand ? (
				<div class="inline-flex items-center gap-1 group-even:flex-row-reverse">
					<div>
						{character.name} <br />
						<span class="font-medium">{band.name}</span>
					</div>

					<img
						class="size-8"
						src={`/assets/bands/${band.slug}.svg`}
						alt={`${band.name} icon`}
						loading="lazy"
					/>
				</div>
			) : (
				character.name
			)
		}
	</div>
	<img
		class="size-10"
		src={`/assets/characters/${character.slug}.${IMAGE_FORMAT}`}
		alt={`${character.name} icon`}
		loading="lazy"
	/>
</div>
