---
import type { Bandori } from "@hina-is/bestdori/data";
import { formatEventType } from "@hina-is/bestdori/utilities";

import { colord } from "colord";

import { IMAGE_FORMAT } from "~/lib/compressor/constants";
import { dayjs, formatDuration } from "~/lib/date";
import EventCardActions from "./_event-card-actions.astro";
import EventCardBandIcon from "./_event-card-band-icon.astro";
import EventCardCharacterIcon from "./_event-card-character-icon.astro";
import EventCardTime from "./_event-card-time.astro";

interface Props {
	event: Bandori.Event & { id: number };
	predicted: boolean;
}

const { event, predicted, ...props } = Astro.props;
const { attribute, band, characters, startAt, endAt } = event;

const progress = (() => {
	if (predicted || !startAt.en || !endAt.en) return;

	const now = dayjs();
	const start = dayjs(startAt.en);
	const end = dayjs(endAt.en);

	if (now.isAfter(end)) return;
	else if (now.isBefore(start)) {
		const untilStarted = formatDuration(now, start);
		return { tooltip: `Starts in ${untilStarted}` };
	}

	const duration = end.diff(start);
	const passed = now.diff(start);
	const untilEnded = formatDuration(now, end);
	return {
		value: ((passed / duration) * 100).toFixed(1),
		tooltip: `Ends in ${untilEnded}`,
	};
})();
---

<div class="event-card flex flex-col gap-1" {...props} hx-disinherit="*">
	<div class="card bg-base-100 w-90 flex-1 shadow-sm">
		<figure>
			<img
				class="aspect-3/1 h-32"
				src={`/assets/events/${event.slug}-banner.${IMAGE_FORMAT}`}
				alt={`${event.name} banner`}
				loading="lazy"
			/>
		</figure>
		<div class="card-body items-center text-center">
			<h2 class="card-title flex-1">
				{event.name}
			</h2>

			<EventCardTime {endAt} region="jp" {startAt} />

			<EventCardTime {endAt} {predicted} region="en" {startAt} />

			<div class="flex flex-wrap justify-center gap-1">
				<div class="badge dark:badge-primary dark:badge-soft font-medium">
					<div
						class="tooltip before:bg-attribute before:text-white"
						data-tip={attribute.name.toUpperCase()}
						style={`--attribute: ${attribute.color}`}
					>
						<img
							class="size-5"
							src={`/assets/attributes/${attribute.name}.svg`}
							alt=`${attribute.name.toUpperCase()} icon`
							loading="lazy"
						/>
					</div>

					{formatEventType(event.type)}
				</div>

				{
					Array.isArray(band) ? (
						<div class="badge dark:badge-primary dark:badge-soft">
							{band.map((band) => (
								<EventCardBandIcon {band} />
							))}
						</div>
					) : (
						<div
							class:list={[
								"badge bg-band font-medium",
								colord(band.color!).brightness() < 0.67
									? "text-white"
									: "text-black",
							]}
							style={`--band: ${band.color}`}
						>
							<img
								src={`/assets/bands/${band.slug}.svg`}
								alt={`${band.name} icon`}
								class:list={[
									"size-5",
									colord(band.color!).brightness() > 0.67 &&
										"dark:drop-shadow-lg",
								]}
								loading="lazy"
							/>

							{band.name}
						</div>
					)
				}
			</div>

			<div class="flex flex-wrap justify-center gap-1">
				{
					characters.length > 5 ? (
						<>
							{characters.slice(0, 4).map((character) => (
								<EventCardCharacterIcon
									{character}
									displayBand={Array.isArray(band)}
									tooltip="bottom"
								/>
							))}

							<details class="dropdown dropdown-top dropdown-end">
								<summary class="btn btn-circle btn-outline size-10">
									<iconify-icon
										class="size-4"
										icon="lucide:chevron-up"
										width="none"
									/>
								</summary>
								<div class="dropdown-content bg-base-100 rounded-box mb-2 flex w-60 flex-wrap justify-center gap-1 p-2 shadow-sm">
									{characters.slice(4).map((character) => (
										<EventCardCharacterIcon
											{character}
											displayBand={Array.isArray(band)}
											tooltip="top"
										/>
									))}
								</div>
							</details>
						</>
					) : (
						characters.map((character) => (
							<EventCardCharacterIcon
								{character}
								displayBand={Array.isArray(band)}
							/>
						))
					)
				}
			</div>

			{
				progress && (
					<div class="tooltip relative w-full" data-tip={progress.tooltip}>
						<progress
							class="progress progress-primary w-full"
							value={progress.value}
							max="100"
						/>

						<span class="center bg-secondary rounded-field text-secondary-content absolute w-14 font-medium">
							{progress.value}%
						</span>
					</div>
				)
			}
		</div>
	</div>

	<EventCardActions {event} />
</div>
