---
import type { Bandori } from "@hina-is/bestdori/data";

import { colord } from "colord";

import { IMAGE_FORMAT } from "~/lib/compressor/constants";

interface Props {
	character: Bandori.Character & { id: number };
	displayBand: boolean;
}

const { character, displayBand } = Astro.props;

const { band } = character;
const characterColor = colord(character.colorCode);
---

<div
	class="tooltip group even:tooltip-bottom"
	style={`--character: ${characterColor.toHex()}`}
>
	<div
		class:list={[
			"tooltip-content bg-character",
			characterColor.brightness() < 0.67 ? "text-white" : "text-black",
		]}
	>
		{
			displayBand ? (
				<div class="inline-flex items-center gap-1 group-even:flex-row-reverse">
					<div>
						{character.name} <br />
						<span class="font-medium">{band.name}</span>
					</div>

					<img
						class="size-8"
						src={`/assets/bands/${band.slug}.svg`}
						alt={`${band.name} icon`}
						loading="lazy"
					/>
				</div>
			) : (
				character.name
			)
		}
	</div>
	<img
		class="size-10"
		src={`/assets/characters/${character.slug}.${IMAGE_FORMAT}`}
		alt={`${character.name} icon`}
		loading="lazy"
	/>
</div>
