---
import type { Bandori } from "@hina-is/bestdori/data";

import { colord } from "colord";

import { IMAGE_FORMAT } from "~/lib/compressor/constants";

interface Props {
	band: Bandori.Band & {
		id: number;
		characters: (Bandori.Character & { id: number })[];
	};
}

const { band } = Astro.props;

const { characters } = band;
const bandColor = colord(band.color!);
---

<div
	class="tooltip group even:tooltip-bottom"
	style={`--band: ${bandColor.toHex()}`}
>
	<div
		class:list={[
			"tooltip-content bg-band flex flex-col-reverse gap-1 group-even:flex-col",
			bandColor.brightness() < 0.67 ? "text-white" : "text-black",
		]}
	>
		<span class="font-medium">{band.name}</span>
		<div class="flex justify-center gap-1">
			{
				characters.map(({ name, slug }) => (
					<img
						class="size-8"
						src={`/assets/characters/${slug}.${IMAGE_FORMAT}`}
						alt={`${name} icon`}
						loading="lazy"
					/>
				))
			}
		</div>
	</div>

	<img
		src={`/assets/bands/${band.slug}.svg`}
		alt={`${band.name} icon`}
		class:list={[
			"size-5",
			bandColor.brightness() > 0.67 && "dark:drop-shadow-lg",
		]}
		loading="lazy"
	/>
</div>
