---
import type { Bandori } from "@hina-is/bestdori/data";
import { unwrap } from "@hina-is/bestdori/utilities";

import { colord } from "colord";

import { IMAGE_FORMAT } from "~/lib/compressor/constants";
import { dayjs, formatDuration } from "~/lib/date";
import EventCardCharacterIcon from "./_event-card-character-icon.astro";
import EventCardTime from "./_event-card-time.astro";

interface Props {
	event: Bandori.Event & { id: number };
	predicted: boolean;
}

const { event, predicted, ...props } = Astro.props;
const { attribute, band, characters, startAt, endAt } = event;

const progress = (() => {
	if (predicted || !startAt.en || !endAt.en) return;

	const now = dayjs();
	const start = dayjs(startAt.en);
	const end = dayjs(endAt.en);

	if (now.isAfter(end)) return;
	else if (now.isBefore(start)) {
		const untilStarted = formatDuration(now, start);
		return { tooltip: `Starts in ${untilStarted}` };
	}

	const duration = end.diff(start);
	const passed = now.diff(start);
	const untilEnded = formatDuration(now, end);
	return {
		value: ((passed / duration) * 100).toFixed(1),
		tooltip: `Ends in ${untilEnded}`,
	};
})();
---

<div class="event-card flex flex-col gap-1" {...props}>
	<div class="card bg-base-100 w-90 flex-1 shadow-sm">
		<figure>
			<img
				src={`/assets/event/${event.id}_banner.${IMAGE_FORMAT}`}
				alt={`${unwrap(event.name)} banner`}
				loading="lazy"
				class="aspect-3/1 h-32"
			/>
		</figure>
		<div class="card-body items-center text-center">
			<h2 class="card-title flex-1">
				{unwrap(event.name)}
			</h2>

			<EventCardTime {startAt} {endAt} region="jp" />

			<EventCardTime {startAt} {endAt} {predicted} region="en" />

			<div class="flex flex-wrap justify-center gap-1">
				<div class="badge dark:badge-primary dark:badge-soft font-medium">
					<div
						class="tooltip before:text-white"
						data-tip={attribute.name.toUpperCase()}
						style={`--tt-bg: ${attribute.color}`}
					>
						<img
							src={`/assets/attribute/${attribute.name}.svg`}
							alt=`${attribute.name.toUpperCase()} icon`
							loading="lazy"
							class="size-5"
						/>
					</div>

					{event.type}
				</div>

				<div
					class:list={[
						"badge font-medium",
						Array.isArray(band)
							? "dark:badge-primary dark:badge-soft"
							: colord(band.color!).brightness() < 0.67
								? "text-white"
								: "text-black",
					]}
					style={!Array.isArray(band) && `--badge-bg: ${band.color!}`}
				>
					{
						Array.isArray(band) ? (
							band
								.map(({ color, ...band }) => ({
									...band,
									color: colord(color!),
								}))
								.map(({ id, name, color, count }, idx) => (
									<div
										class:list={[
											"tooltip",
											idx % 2 && "tooltip-bottom",
											color.brightness() < 0.67
												? "before:text-white"
												: "before:text-black",
										]}
										data-tip={`${unwrap(name)} (${count})`}
										style={`--tt-bg: ${color.toHex()}`}
									>
										<img
											src={`/assets/band/${id}.svg`}
											alt={`${unwrap(name)} icon`}
											loading="lazy"
											class="size-5"
										/>
									</div>
								))
						) : (
							<>
								<img
									src={`/assets/band/${band.id}.svg`}
									alt={`${unwrap(band.name)} icon`}
									loading="lazy"
									class:list={[
										"size-5",
										colord(band.color!).brightness() > 0.67 &&
											"dark:drop-shadow-lg",
									]}
								/>

								{unwrap(band.name)}
							</>
						)
					}
				</div>
			</div>

			<div class="flex flex-wrap justify-center gap-1">
				{
					characters.length > 5 ? (
						<>
							{characters.slice(0, 4).map((character) => (
								<EventCardCharacterIcon
									{character}
									displayBand={Array.isArray(band)}
									tooltip="bottom"
								/>
							))}

							<details class="dropdown dropdown-top dropdown-end">
								<summary class="btn btn-circle btn-outline size-10">
									<iconify-icon
										icon="lucide:chevron-up"
										width="none"
										class="size-4"
									/>
								</summary>
								<div class="dropdown-content bg-base-100 rounded-box mb-2 flex w-60 flex-wrap justify-center gap-1 p-2 shadow-sm">
									{characters.slice(4).map((character) => (
										<EventCardCharacterIcon
											{character}
											displayBand={Array.isArray(band)}
											tooltip="top"
										/>
									))}
								</div>
							</details>
						</>
					) : (
						characters.map((character) => (
							<EventCardCharacterIcon
								{character}
								displayBand={Array.isArray(band)}
							/>
						))
					)
				}
			</div>

			{
				progress && (
					<div class="tooltip relative w-full" data-tip={progress.tooltip}>
						<progress
							class="progress progress-primary w-full"
							value={progress.value}
							max="100"
						/>

						<span class="center bg-secondary rounded-field text-secondary-content absolute w-14 font-medium">
							{progress.value}%
						</span>
					</div>
				)
			}
		</div>
	</div>

	<a
		href={`https://bestdori.com/info/events/${event.id}`}
		target="_blank"
		rel="noopener noreferrer"
		class="btn btn-sm btn-info"
	>
		<iconify-icon icon="lucide:external-link" width="none" class="size-4"
		></iconify-icon>
		View on Bestdori!
	</a>
</div>
