---
import type { Bandori } from "@hina-is/bestdori/data";

import { IMAGE_FORMAT } from "~/lib/compressor/constants";
import { dayjs } from "~/lib/date";
import EventCardCardIcon from "./_event-card-card-icon.astro";

interface Props {
	event: Bandori.Event & { id: number };
}

const { event } = Astro.props;
const { cards, stamp } = event;
---

<div class="join">
	{
		cards.length > 0 && (
			<details class="dropdown dropdown-top z-10">
				<summary
					class="btn tooltip tooltip-right join-item btn-sm btn-circle btn-soft"
					data-tip="Event cards"
				>
					<iconify-icon class="size-4" icon="lucide:sparkle" width="none" />
				</summary>
				<div class="dropdown-content bg-base-300/80 rounded-box mb-1 flex h-max max-h-72 w-max flex-col-reverse flex-wrap justify-center gap-x-1 p-2 shadow-sm">
					{cards.map((card) => (
						<EventCardCardIcon {card} />
					))}
				</div>
			</details>
		)
	}

	<a
		class="btn join-item btn-sm btn-info flex-1"
		href={`https://bestdori.com/info/events/${event.id}`}
		rel="noopener noreferrer"
		target="_blank"
	>
		<iconify-icon class="size-4" icon="lucide:external-link" width="none"
		></iconify-icon>
		View on Bestdori!
	</a>

	<details class="dropdown dropdown-end dropdown-top z-10">
		<summary class="btn join-item btn-sm btn-circle btn-soft">
			<iconify-icon class="size-4" icon="lucide:ellipsis" width="none"
			></iconify-icon>
		</summary>
		<div
			class="dropdown-content bg-base-300/80 rounded-box mb-1 flex h-max flex-col-reverse p-2 shadow-sm"
			style={`anchor-name: --anchor-${event.slug}`}
		>
			<div class="join join-vertical">
				<button
					class="btn join-item btn-sm btn-circle btn-accent"
					popovertarget={`${event.slug}-stamp`}
				>
					<iconify-icon class="size-4" icon="lucide:smile" width="none"
					></iconify-icon>
				</button>

				<button
					class="btn join-item btn-sm btn-circle btn-accent"
					popovertarget={`${event.slug}-leaderboard`}
				>
					<iconify-icon class="size-4" icon="lucide:trophy" width="none"
					></iconify-icon>
				</button>
			</div>
		</div>
	</details>
</div>

<div
	class="dropdown dropdown-left dropdown-end bg-base-200/90 rounded-box fixed p-2 shadow-sm"
	id={`${event.slug}-stamp`}
	popover
	style={`position-anchor: --anchor-${event.slug}`}
>
	<div class="relative aspect-40/33 h-32">
		<img
			class="w-full"
			src={`/assets/stamps/${stamp.slug}-image.${IMAGE_FORMAT}`}
			alt={`Stamp #${stamp.id}`}
			loading="lazy"
		/>

		{
			stamp.voiced && (
				<button
					class="btn bg-base-100/80 btn-circle absolute right-1 bottom-1.5 size-8 border-0 backdrop-blur-sm"
					onclick={`playStampAudio(this, '${event.stamp.slug}')`}
				>
					<iconify-icon
						class="htmx-indicator-replace size-4"
						icon="lucide:volume-2"
						width="none"
					/>
					<iconify-icon
						class="htmx-indicator size-4"
						icon="svg-spinners:90-ring-with-bg"
						width="none"
					/>
				</button>
			)
		}
	</div>
</div>

<ul
	class="dropdown dropdown-left dropdown-end menu bg-base-200/90 rounded-box fixed w-max p-2 shadow-sm"
	id={`${event.slug}-leaderboard`}
	popover
	style={`position-anchor: --anchor-${event.slug}`}
>
	<li>
		<a
			href={`https://bestdori.com/tool/eventtracker/jp/t10/${event.id}`}
			rel="noopener noreferrer"
			target="_blank">T10 Leaderboard (JP)</a
		>
	</li>
	{
		dayjs(event.startAt.en).isBefore() && (
			<li>
				<a
					href={`https://bestdori.com/tool/eventtracker/en/t10/${event.id}`}
					rel="noopener noreferrer"
					target="_blank"
				>
					T10 Leaderboard (EN)
				</a>
			</li>
		)
	}
</ul>
