---
import type { Bandori } from "@hina-is/bestdori/data";

import { colord } from "colord";

import { IMAGE_FORMAT } from "~/lib/compressor/constants";

interface Props {
	card: Bandori.Card & { id: number };
}

const { card } = Astro.props;

const {
	attribute,
	character: { band, ...character },
} = card;
const characterColor = colord(character.colorCode);
---

<div
	class="tooltip tooltip-right max-sm:after:hidden"
	style={`--attribute: ${attribute.color}; --band: ${band.color}; --character: ${characterColor.toHex()}`}
>
	<div
		class:list={[
			"tooltip-content bg-character flex max-w-48 flex-col items-center gap-1 max-sm:hidden",
			characterColor.brightness() < 0.67 ? "text-white" : "text-black",
		]}
	>
		<div class="max-w-36">
			<span class="line-clamp-2 text-sm">{card.name}</span>
		</div>

		<div class="join!">
			<div class="btn join-item btn-xs btn-accent border border-white">
				<iconify-icon class="size-4" icon="lucide:zap" width="none"
				></iconify-icon>
				{card.skill.multiplier}
			</div>
			<div class="btn join-item btn-xs bg-attribute text-white">
				{card.type.toUpperCase()} &starf;{card.rarity}
			</div>
		</div>

		<div class="inline-flex items-center justify-center gap-1">
			<img
				class="size-8"
				src={`/assets/attributes/${attribute.name}.svg`}
				alt=`${attribute.name.toUpperCase()} icon`
				loading="lazy"
			/>
			<img
				class="size-8"
				src={`/assets/characters/${character.slug}.${IMAGE_FORMAT}`}
				alt={`${character.name} icon`}
				loading="lazy"
			/>
			<img
				src={`/assets/bands/${band.slug}.svg`}
				alt={`${band.name} icon`}
				class:list={[
					"size-8",
					characterColor.brightness() > 0.67 && "drop-shadow-lg",
				]}
				loading="lazy"
			/>
		</div>
	</div>

	<button
		hx-get={`/page/events/card/${card.slug}`}
		class="cursor-pointer"
		hx-indicator="this"
	>
		<figure
			class="hover-gallery rounded-box bg-character/25 shadow-band hover:shadow-character htmx-indicator-replace size-12 shadow-md"
		>
			<img
				src={`/assets/cards/${card.slug}-icon-normal.${IMAGE_FORMAT}`}
				alt={`${card.name} icon`}
				loading="lazy"
			/>
			<img
				src={`/assets/cards/${card.slug}-icon-trained.${IMAGE_FORMAT}`}
				alt={`${card.name} icon (trained)`}
				loading="lazy"
			/>
		</figure>

		<iconify-icon
			class="htmx-indicator size-12"
			icon="svg-spinners:90-ring-with-bg"
			width="none"></iconify-icon>
	</button>
</div>
