---
import { unwrap } from "@hina-is/bestdori/utilities";

import { titleCase } from "text-case";

import BaseLayout from "~/layouts/base-layout.astro";
import { IMAGE_FORMAT } from "~/lib/compressor/constants";
import { paginate } from "~/lib/paginate";
import EventCard from "./_event-card.astro";
import { filterEvents, getEvents } from "./_list";
import { schema } from "./_params";

const params = Astro.locals.parseQuery(schema);
const oppositeList = params.list === "future" ? "past" : "future";

const events = getEvents(params);
const { filtered } = filterEvents(params, events.list);
const page = paginate({
	items: filtered,
	context: Astro,
	size: 6,
	extraProps: {
		"hx-select": "#events .event-card",
		"hx-swap": "afterend",
		"hx-vals": JSON.stringify(params),
	},
});
---

<BaseLayout
	background={events.active.length > 0
		? {
				src: `/assets/event/${events.active[0].id}_background.${IMAGE_FORMAT}`,
				alt: `${unwrap(events.active[0].name)} background`,
			}
		: undefined}
>
	<div class="flex flex-col gap-8">
		<div class="flex flex-col items-center gap-4" id="active-events">
			<h2 class="badge badge-accent badge-xl w-48 font-medium">
				Active events
			</h2>

			<div class="flex flex-wrap justify-center gap-x-2 gap-y-4">
				{
					events.active.length > 0 ? (
						events.active.map((event) => (
							<EventCard {event} predicted={false} />
						))
					) : (
						<p class="text-base-content/50">No active event at the moment.</p>
					)
				}
			</div>
		</div>

		<div class="flex scroll-mt-8 flex-col items-center gap-4" id="events">
			<div class="inline-flex gap-2">
				<div
					class="tooltip tooltip-right"
					data-tip={`Filter ${params.list} events`}
				>
					<button
						hx-get="/page/events/filter"
						class="btn btn-sm btn-circle btn-success"
						hx-indicator="this"
						hx-vals={JSON.stringify(params)}
					>
						<iconify-icon
							class="htmx-indicator-replace size-4"
							icon="lucide:list-filter"
							width="none"></iconify-icon>
						<iconify-icon
							class="htmx-indicator size-4"
							icon="svg-spinners:90-ring-with-bg"
							width="none"></iconify-icon>
					</button>
				</div>

				<h2 class="badge badge-accent badge-xl w-48 font-medium">
					{titleCase(params.list)} events
				</h2>

				<div
					class="tooltip tooltip-left"
					data-tip={`Show ${oppositeList} events`}
				>
					<button
						hx-get
						hx-target="#events"
						class="btn btn-sm btn-circle btn-success"
						hx-indicator="this"
						hx-select="#events"
						hx-swap="outerHTML transition:true show:top"
						hx-vals={JSON.stringify({ list: oppositeList })}
					>
						<iconify-icon
							class="htmx-indicator-replace size-4"
							icon={oppositeList === "future"
								? "lucide:calendar-clock"
								: "lucide:history"}
							width="none"></iconify-icon>
						<iconify-icon
							class="htmx-indicator size-4"
							icon="svg-spinners:90-ring-with-bg"
							width="none"></iconify-icon>
					</button>
				</div>
			</div>

			<div
				class="flex flex-wrap justify-center gap-x-2 gap-y-4"
				hx-indicator="#events-loader"
			>
				{
					page.items.map((event, idx) => (
						<EventCard
							{...(page.isLastElement(idx) && page.props)}
							{event}
							predicted={params.list === "future"}
						/>
					))
				}
			</div>

			<div class="htmx-indicator relative mt-8 h-32 w-full" id="events-loader">
				<iconify-icon
					class="text-accent center bg-accent-content/80 absolute size-32 rounded-full"
					icon="svg-spinners:90-ring-with-bg"
					width="none"></iconify-icon>

				<span
					class="badge center badge-lg badge-accent absolute w-max font-medium"
					>loading more events...</span
				>
			</div>
		</div>
	</div>
</BaseLayout>
